In [1]:
from agente_viajero import AgenteViajero

cities = [
    (1,3), (2,5), (2,7), (4,2), (4,4), 
    (4,7), (4,8), (5,3), (6,1), (6,6), 
    (7,8), (8,2), (8,7), (9,3), (10,7), 
    (11,1), (11,4), (11,6), (12,7), (13,5),
]

av = AgenteViajero(cities, population_size=100, n_generations=100)
av.train()
av.result

                                            top_route   top_dist
0   [(7, 8), (4, 8), (2, 5), (4, 4), (1, 3), (9, 3...  77.683762
1   [(7, 8), (4, 8), (2, 5), (4, 4), (1, 3), (9, 3...  75.958676
2   [(7, 8), (4, 8), (2, 5), (4, 4), (1, 3), (6, 6...  69.719374
3   [(7, 8), (4, 8), (2, 5), (4, 4), (1, 3), (9, 3...  66.860533
4   [(7, 8), (4, 8), (6, 6), (11, 1), (10, 7), (12...  65.339242
..                                                ...        ...
95  [(2, 7), (4, 8), (4, 7), (6, 6), (7, 8), (8, 7...  38.024107
96  [(2, 7), (4, 8), (4, 7), (6, 6), (7, 8), (8, 7...  37.438320
97  [(2, 7), (4, 8), (4, 7), (6, 6), (7, 8), (8, 7...  38.024107
98  [(2, 7), (4, 8), (4, 7), (6, 6), (7, 8), (8, 7...  38.950316
99  [(2, 7), (4, 8), (4, 7), (6, 6), (7, 8), (8, 7...  38.024107

[100 rows x 2 columns]